@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

html,
body {
    margin: 0;
    padding: 0;
}

.navbar-dark {
    background: rgb(106, 34, 155) !important;
}

.navbar-brand {
    font-family: 'Viga', sans-serif;
}

.navbar-nav li a {
    font-family: 'Viga', sans-serif;
    transition: 0.3s;
}

.navbar-nav li a:hover {
    color: #ff6ada !important;
}